{# Je me sers du fichier books/main.html comme base pour ce fichier #}
{% extends 'books/main.html' %}

{# Activer le menu correspondant #}
{% block nav_index %}class="active" {% endblock %}

{# Ce que je précise par rapport à la base, c'est ce qu'il y a dans le bloc content #}
{% block content %}
<h2>Accueil</h2>

<p>Bienvenue sur le site de ma bibliothèque.</p>

<p>
<a href="{% url 'books_list' %}">Lien vers la liste des livres.</a>
</p>
<p>
<a href="{% url 'lent_books' %}">Lien vers les livres empruntés.</a>
</p>
{% endblock %}

{# Je n'ai pas envie d'avoir le lien de retour à l'accueil. Je change donc le contenu du bloc return_to_index (qui contient le lien par défaut, dans le fichier main). Je ne mets rien à l'intérieur, donc le bloc sera vide dans la page html.
{% block return_to_index %}{% endblock %}
